<table>
<h3>All Horses</h3>
<th>Horse</th>
<th>Owner</th>
<% current_user.horses.each do |horse| %>
<tr>
<td><%= horse.name %></td> 
<td><%= horse.owner %></td>
<td><%= link_to "View Ride Schedule", horse_path(horse) %>


</tr>
<% end %>
</table>
<br>
<%= link_to "Add Horse", new_horse_path %>
