<h2>View Rides By Horse</h2>
<table>
<th>Horse</th>
<th>Owner</th>
<% current_user.horses.each do |horse| %>
<tr>
<td><%= link_to horse.name, horse_path(horse) %></td> 
<td><%= horse.owner %></td>
<td><%= %>
</tr>
<% end %>
</table>
<br>
<%= link_to "Add Horse", new_horse_path %>
