<table class="show">
    <h3>All Horses</h3>
    <th>Horse</th>
    <th>Owner</th>
        <% current_user.horses.each do |horse| %>
    <tr>
        <td><%= link_to horse.name, horse_path(horse.id) %></td> 
        <td><%= horse.owner %></td>
    </tr>
        <% end %>
</table>

<p id="link"><%= link_to "Add Horse", new_horse_path %></p>