<h3>All Riders</h3>
<div class="display">
    <p class="error"><%= has_riders %></p>
    <% current_user.riders.each do |rider| %>
        <p><%= link_to rider.name, rider_path(rider)%></p>
    <% end %>
</div>
<p id="link"><%= link_to "Add Rider", new_rider_path %></p>
